In [8]:
# We are importing necesasry libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
# importing the iitnit data to python environment

df=pd.read_csv(r"C:\Users\priya v\Downloads\adult.csv")

In [10]:
#  Top 10 Rows of The Dataset

df.head(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K

In [11]:
# Last 10 Rows of The Dataset 

df.tail(10)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
48832,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
48833,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
48834,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
48835,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
48836,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [12]:
# Shape of Our Dataset

df.shape

(48842, 15)

In [13]:
# Information About Our Dataset Like Total Number of Rows, Total Number of Columns, Datatypes Of Each Column And Memory Requirement 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [14]:
# Random Samples From The Dataset

df.sample(50)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
11417,25,Private,296394,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,Black,Male,0,0,45,United-States,<=50K
22992,22,Private,361138,HS-grad,9,Never-married,Handlers-cleaners,Other-relative,White,Male,0,0,50,United-States,<=50K
20262,29,Private,159768,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Male,3325,0,40,Ecuador,<=50K
19264,55,Self-emp-not-inc,149168,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,30,United-States,<=50K
2008,39,Private,188069,Masters,14,Married-civ-spouse,Tech-support,Husband,White,Male,15024,0,50,United-States,>50K
39636,19,Private,213024,12th,8,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,40,United-States,<=50K
29586,22,Private,433669,Assoc-acdm,12,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,36,?,<=50K
26605,35,State-gov,483530,Some-college,10,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
18384,43,Self-emp-inc,172826,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,99999,0,55,United-States,>50K
3036,54,Private,127704,7th-8th,4,Separated,Craft-repair,Not-in-family,White,Male,0,0,40,United-States,<=50K
21577,35,?,61343,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,40,United-States,<=50K
14053,40,State-gov,132125,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
34099,39,Private,216129,Assoc-acdm,12,Divorced,Exec-managerial,Unmarried,Black,Female,0,0,35,Jamaica,<=50K
12101,44,Private,262656,HS-grad,9,Never-married,Other-service,Unmarried,Black,Male,0,0,32,United-States,<=50K
47833,26,Private,189185,HS-grad,9,Divorced,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
17628,17,?,145886,11th,7,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
33036,38,?,181705,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,24,United-States,<=50K
8880,65,Private,176219,HS-grad,9,Married-spouse-absent,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,40,South,<=50K
37854,52,Private,160703,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,65,United-States,>50K
16448,46,State-gov,102628,Masters,14,Widowed,Protective-serv,Unmarried,White,Male,0,0,40,United-States,<=50K
13508,19,Private,180917,HS-grad,9,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K
28205,55,Self-emp-inc,258648,10th,6,Widowed,Transport-moving,Not-in-family,White,Male,0,0,40,United-States,<=50K
20847,31,Private,379798,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
21942,19,Private,93604,7th-8th,4,Never-married,Craft-repair,Own-child,White,Male,0,1602,32,United-States,<=50K
25395,40,Private,224658,Some-college,10,Married-civ-spouse,Sales,Other-relative,White,Male,0,0,40,United-States,<=50K
29081,50,Private,152810,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
38144,24,Private,230229,5th-6th,3,Never-married,Machine-op-inspct,Other-relative,White,Male,0,0,40,Mexico,<=50K
25594,25,Private,130793,Some-college,10,Divorced,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K
19473,71,Private,157909,Some-college,10,Never-married,Other-service,Not-in-family,White,Female,2964,0,60,United-States,<=50K
36864,63,Private,117681,HS-grad,9,Divorced,Farming-fishing,Not-in-family,White,Male,0,0,25,United-States,<=50K
5596,39,Private,112077,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
9200,51,Private,238481,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,1902,42,United-States,>50K
7720,23,Private,239539,Some-college,10,Never-married,Craft-repair,Own-child,Asian-Pac-Islander,Male,0,0,40,?,>50K
40708,63,Local-gov,150079,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,35,United-States,>50K
7861,48,Private,233511,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
29090,44,Private,279183,Some-college,10,Married-civ-spouse,Other-service,Own-child,White,Female,0,0,40,United-States,>50K
42407,31,Private,176831,10th,6,Divorced,Sales,Other-relative,White,Female,0,0,40,United-States,<=50K
1116,20,Private,403965,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,35,United-States,<=50K
43695,59,Private,24384,HS-grad,9,Widowed,Priv-house-serv,Not-in-family,White,Female,0,0,40,United-States,<=50K
2104,43,Private,197093,Bachelors,13,Never-married,Machine-op-inspct,Not-in-family,Black,Male,0,0,40,United-States,<=50K
25134,68,?,29240,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,0,12,United-States,<=50K
20842,32,Local-gov,49325,7th-8th,4,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
6395,35,Private,350103,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K
32290,48,Private,118889,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,2885,0,15,United-States,<=50K
45881,30,Private,374454,HS-grad,9,Divorced,Transport-moving,Own-child,Black,Male,0,0,40,United-States,<=50K
42915,53,Private,270546,HS-grad,9,Divorced,Priv-house-serv,Not-in-family,White,Female,0,0,20,United-States,<=50K
22823,17,?,454614,11th,7,Never-married,?,Own-child,White,Female,0,0,8,United-States,<=50K
42364,71,Self-emp-inc,38822,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,99999,0,40,United-States,>50K
28197,45,State-gov,81853,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,Asian-Pac-Islander,Female,0,0,40,United-States,>50K
15732,48,?,142719,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,48,United-States,>50K

In [15]:
# Null Values in the Dataset 

df.isna().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [16]:
# Data Cleaning (Replace '?' with NaN)

df["occupation"].str.replace("?","NaN")

C:\Users\priya v\AppData\Local\Temp\ipykernel_27976\2866580870.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["occupation"].str.replace("?","NaN")

0        Machine-op-inspct
1          Farming-fishing
2          Protective-serv
3        Machine-op-inspct
4                      NaN
               ...
48837         Tech-support
48838    Machine-op-inspct
48839         Adm-clerical
48840         Adm-clerical
48841      Exec-managerial
Name: occupation, Length: 48842, dtype: object

In [17]:
# Drop All The Missing Values in Dataset

df.dropna()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
48839,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
48840,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [18]:
# Check The Duplicate Values And Drop Them

df.duplicated().sum()

52

In [19]:
df1=df.drop_duplicates()

In [20]:
# Overall Statistics About The DataFrame

df1.describe(include="all")

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
count,48790.000000,48790,4.879000e+04,48790,48790.000000,48790,48790,48790,48790,48790,48790.000000,48790.000000,48790.000000,48790,48790
unique,NaN,9,NaN,16,NaN,7,15,6,5,2,NaN,NaN,NaN,42,2
top,NaN,Private,NaN,HS-grad,NaN,Married-civ-spouse,Prof-specialty,Husband,White,Male,NaN,NaN,NaN,United-States,<=50K
freq,NaN,33860,NaN,15770,NaN,22366,6165,19703,41714,32614,NaN,NaN,NaN,43792,37109
mean,38.652798,NaN,1.896690e+05,NaN,10.078807,NaN,NaN,NaN,NaN,NaN,1080.217688,87.595573,40.425886,NaN,NaN
std,13.708493,NaN,1.056172e+05,NaN,2.570046,NaN,NaN,NaN,NaN,NaN,7455.905921,403.209129,12.392729,NaN,NaN
min,17.000000,NaN,1.228500e+04,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,1.000000,NaN,NaN
25%,28.000000,NaN,1.175550e+05,NaN,9.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
50%,37.000000,NaN,1.781385e+05,NaN,10.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,40.000000,NaN,NaN
75%,48.000000,NaN,2.376062e+05,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,45.000000,NaN,NaN
max,90.000000,NaN,1.490400e+06,NaN,16.000000,NaN,NaN,NaN,NaN,NaN,99999.000000,4356.000000,99.000000,NaN,NaN

In [21]:
# Drop the Column 'educational-num', 'capital-gain', 'capital-loss'

df1.drop(columns=["educational-num","capital-gain","capital-loss"])

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,gender,hours-per-week,native-country,income
0,25,Private,226802,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,40,United-States,<=50K
1,38,Private,89814,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,40,United-States,>50K
3,44,Private,160323,Some-college,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,40,United-States,>50K
4,18,?,103497,Some-college,Never-married,?,Own-child,White,Female,30,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
48837,27,Private,257302,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K
48838,40,Private,154374,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K
48839,58,Private,151910,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K
48840,22,Private,201490,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K
48841,52,Self-emp-inc,287927,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K

In [22]:
# The Most Common Education Level

df1["education"].value_counts().head(1)

HS-grad    15770
Name: education, dtype: int64

In [23]:
#Average Hours Worked for ">50K" Income
avg_hours=df1.loc[df1['income']=='>50K','hours-per-week'].mean()
print(f"Average Hours Worked for >50K Income: {avg_hours}")

Average Hours Worked for >50K Income: 45.45458436777673

In [24]:
#Percentage of Females in "Machine-op-inspct" Occupation
females_in_machine_op=df1[(df1['occupation']=='Machine-op-inspct') & (df1['gender']=='Female')]
percentage_females=(len(females_in_machine_op)/len(df1[df1['occupation']=='Machine-op-inspct']))*100
print(f"Percentage of females in Machine-op-inspct Occupation: {percentage_females:.2f}%")

Percentage of females in Machine-op-inspct Occupation: 26.62%

In [56]:
#the Average Age for Each Occupation
df1.groupby('occupation')['age'].mean()

occupation
?                    40.094118
Adm-clerical         37.201927
Armed-Forces         31.466667
Craft-repair         39.013930
Exec-managerial      42.202894
Farming-fishing      41.353535
Handlers-cleaners    32.659102
Machine-op-inspct    37.746768
Other-service        35.101850
Priv-house-serv      43.554167
Prof-specialty       40.568370
Protective-serv      38.916497
Sales                37.418288
Tech-support         37.161938
Transport-moving     40.651380
Name: age, dtype: float64

In [ ]:
#the Most Common Race Among "Never-married"
def most_common_never_married_race(data):
    never_married = data[data['marital-status'] == 'Never-married']
    common_race = never_married['race'].mode()[0]
    return common_race

In [27]:
#Percentage of People with a College Degree or Higher
def percentage_college_degree_or_higher(data):
    total_people = len(data)
    college_degree_or_higher = data[data['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
    percentage = (len(college_degree_or_higher) / total_people) * 100
    return percentage

In [55]:
#the Employee with the Highest "fnlwgt"
df1['fnlwgt'].idxmax()

7974

In [46]:
#the Standard Deviation of "age"
df1['age'].std()

13.708492897984952

In [42]:
#New Column Named "age_group" that Categorizes People into Young (<=30), Middle-aged (31-60), and Senior (>60)
def categorize_age(age):
    if age <= 30:
        return 'Young'
    elif 31 <= age <= 60:
        return 'Middle-aged'
    else:
        return 'Senior'

In [47]:
df1["age_group"] = df1['age'].apply(categorize_age)
print(df1)

       age     workclass  fnlwgt     education  educational-num  \
0       25       Private  226802          11th                7
1       38       Private   89814       HS-grad                9
2       28     Local-gov  336951    Assoc-acdm               12
3       44       Private  160323  Some-college               10
4       18             ?  103497  Some-college               10
...    ...           ...     ...           ...              ...
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation relationship   race  gender  \
0           Never-married  Machine-op-inspct    Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing      Husband  White    Male
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
4           Never-married                  ?    Own-child  White  Female
...                   ...                ...          ...    ...     ...
48837  Married-civ-spouse       Tech-support         Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48839             Widowed       Adm-clerical    Unmarried  White  Female
48840       Never-married       Adm-clerical    Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income  \
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

         age_group  Young  Middle-aged  Senior
0            Young  Young  Middle-aged  Senior
1      Middle-aged  Young  Middle-aged  Senior
2            Young  Young  Middle-aged  Senior
3      Middle-aged  Young  Middle-aged  Senior
4            Young  Young  Middle-aged  Senior
...            ...    ...          ...     ...
48837        Young  Young  Middle-aged  Senior
48838  Middle-aged  Young  Middle-aged  Senior
48839  Middle-aged  Young  Middle-aged  Senior
48840        Young  Young  Middle-aged  Senior
48841  Middle-aged  Young  Middle-aged  Senior

[48790 rows x 19 columns]

C:\Users\priya v\AppData\Local\Temp\ipykernel_27976\3546196049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["age_group"] = df1['age'].apply(categorize_age)

In [41]:
#All Employees Who Work More Than 50 Hours Per Week
df1[df1['hours-per-week']>50]

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K
53,22,Private,54164,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,14084,0,60,United-States,>50K
54,38,Private,219446,9th,5,Married-spouse-absent,Exec-managerial,Not-in-family,White,Male,0,0,54,Mexico,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48811,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
48812,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
48813,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
48817,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
48829,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K